@import 'variables';
@import 'mixin';

.scrollable {
  overflow: hidden;
  width: 100%;
  @include respond-to(small-portrait) {
    height: 33vw;
  }

  @include respond-to(small-landscape) {
    height: 18.5vw;
  }

  @include respond-to(big-portrait) {
    height: 21vw;
  }

  @include respond-to(big-landscape) {
    height: 18.5vw;
  }
}

.scrollable_vertical {
  @include respond-to(big-landscape) {
    height: 23vw;
    width: 13.5vw;
  }
}

.scrollable_3-columns {
  @include respond-to(big-landscape) {
    height: 23vw;
    width: 43vw;
  }
}

.scrollable__wrap-scroll {
  overflow: auto;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.scrollable__wrap-scroll_vertical {
  @include respond-to(big-landscape) {
    padding-right: 25px;
    padding-bottom: 0;
    width: 43vw;
  }
}

.scrollable__content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.scrollable__content_vertical {
  @include respond-to(big-landscape) {
    flex-direction: column;
  }
}

.scrollable__content_3-columns {
  @include respond-to(big-landscape) {
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 43vw;
  }
}

.scrollable__arrows {
  display: none;
  cursor: pointer;
}

.arrow-button {
  margin: 0;
  padding: 1vh .5vw;
  border-radius: 2vw;
  border: 0;
  outline: 0;
  background: none;
}

.arrows_visible {
  @include respond-to(big-landscape) {
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
}

.main__scrollable__arrows {
  @include respond-to(big-landscape) {
    position: absolute;
    bottom: 1.7vw;
    left: 6vw;
  }
}

.scenarios__scrollable__arrows {
  display: none;
  @include respond-to(big-landscape) {
    z-index: 10;
    display: flex;
    position: absolute;
    top: 2vw;
    right: 5.5vw;
  }
}

.devices__scrollable__arrows {
  display: none;
  @include respond-to(big-landscape) {
    z-index: 10;
    display: flex;
    position: absolute;
    top: 2vw;
    right: 5.5vw;
  }
}

.arrow {
  fill: $base-color;
  opacity: .3;
  cursor: pointer;
}

.devices__scrollable[data-overflowing="both"] .arrow_left,
.devices__scrollable[data-overflowing="left"] .arrow_left,
.devices__scrollable[data-overflowing="both"] .arrow_right,
.devices__scrollable[data-overflowing="right"] .arrow_right {
  opacity: 1;
}


.arrow_top {
  height: 1vw;
  transform: rotate(-90deg);
  width: 1vw;
}

.arrow_bottom {
  height: 1vw;
  transform: rotate(90deg);
  width: 1vw;
}

.arrow_left {
  height: 1vw;
  transform: rotate(-180deg);
  width: 1vw;
}

.arrow_right {
  height: 1vw;
  width: 1vw;
}

.arrow_big {
  fill: $primary-color;
  opacity: 1;
  height: 2.5vw;
  width: 2.5vw;
  margin-top: .9vw;
  margin-left: 1.5vw;
  @include respond-to(small-portrait) {
    display: block;
  }
}

.arrow_top_margin-bottom {
  margin-bottom: -.5vw;
}
