<section class="devices page__devices">
    <div class="devices__inner">
        <h2 class="devices__title">Избранные устройства</h2>
        <div class="dropdown devices__dropdown">
            <button type="button" class="dropdown__button">
                <span class="dropdown__button-text">Все</span>
                <svg class="arrow arrow_active arrow_bottom arrow_big">
                    <use xlink:href='#arrow'></use>
                </svg></button>
            <div class="dropdown__inner">
                <ul class="dropdown__options">
                    <li type="button" class="dropdown__option dropdown__option_active">Все

                    </li>
                    <li type="button" class="dropdown__option">Кухня</li>
                    <li type="button" class="dropdown__option">Зал</li>
                    <li type="button" class="dropdown__option">Лампочки</li>
                    <li data-type="Камеры" type="button" class="dropdown__option">Камеры</li>
                </ul>
            </div>
        </div>
        <div class="scrollable scrollable_horizontal devices__scrollable">
            <div class="arrows devices__scrollable__arrows">
                <button type="button" class="arrow-button">
                    <svg class="arrow arrow_left">
                        <use xlink:href='#arrow'></use>
                    </svg>
                </button>
                <button type="button" class="arrow-button">
                    <svg class="arrow arrow_right">
                        <use xlink:href='#arrow'></use>
                    </svg>
                </button>
            </div>
            <div class="scrollable__wrap-scroll scrollable__wrap-scroll_horizontal devices__scrollable__wrap-scroll">
                <div class="scrollable__content scrollable__content_horizontal devices__scrollable__content">
                    <div class="task task_first task_horizontal floor" role="button">
                        <svg class="task__icon">
                            <use xlink:href='#temp'></use>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Philips Cooler</span>
                            <span class="task__info">Начнет охлаждать в 16:30</span>
                        </div>
                    </div>
                    <div class="task task_horizontal light" role="button">
                        <svg class="task__icon">
                            <use xlink:href='#sun'></use>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Xiaomi Yeelight LED Smart Bulb</span>
                            <span class="task__info">Включится в 17:00</span>
                        </div>
                    </div>
                    <div class="task task_horizontal floor" role="button">
                        <svg class="task__icon">
                            <use xlink:href='#temp'></use>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Philips Cooler</span>
                            <span class="task__info">Начнет охлаждать в 16:30</span>
                        </div>
                    </div>
                    <div class="task task_horizontal temp" role="button">
                        <svg class="task__icon">
                            <use xlink:href='#temp'></use>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Philips Cooler</span>
                            <span class="task__info">Начнет охлаждать в 16:30</span>
                        </div>
                    </div>
                    <div class="task task_horizontal temp" role="button">
                        <svg class="task__icon">
                            <use xlink:href='#temp'></use>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Philips Cooler</span>
                            <span class="task__info">Начнет охлаждать в 16:30</span>
                        </div>
                    </div>
                    <div class="task task_horizontal floor" role="button">
                        <svg class="task__icon">
                            <use xlink:href='#temp'></use>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Philips Cooler</span>
                            <span class="task__info">Начнет охлаждать в 16:30</span>
                        </div>
                    </div>
                    <div class="task task_horizontal temp" role="button">
                        <svg class="task__icon">
                            <use xlink:href='#temp'></use>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Philips Cooler</span>
                            <span class="task__info">Начнет охлаждать в 16:30</span>
                        </div>
                    </div>
                    <div class="task task_horizontal floor" role="button">
                        <svg class="task__icon">
                            <use xlink:href='#temp'></use>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Philips Cooler</span>
                            <span class="task__info">Начнет охлаждать в 16:30</span>
                        </div>
                    </div>
                    <div class="task task_horizontal light" role="button">
                        <svg class="task__icon">
                            <use xlink:href='#temp'></use>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Philips Cooler</span>
                            <span class="task__info">Начнет охлаждать в 16:30</span>
                        </div>
                    </div>
                    <div class="task task_horizontal temp" role="button">
                        <svg class="task__icon">
                            <use xlink:href='#temp'></use>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Philips Cooler</span>
                            <span class="task__info">Начнет охлаждать в 16:30</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>