<main class="main page__main">
    <div class="main__inner">
        <h2 class="main__title">Главное</h2>
        <div class="content main__content">
            <div class="content__inner">
                <div class="content__info">
                    <div class="content__greeter">
                        <h3 class="content__greeter-name">Привет, Геннадий!</h3>
                        <span class="content__greeter-text">Двери и окна закрыты, сигнализация включена.</span>
                    </div>
                    <div class="content__forecast">
                        <div class="content__forecast-item content__forecast-item_home">
                            <span class="content__forecast-where">Дома</span>
                            <span class="content__forecast-degrees">+23</span>
                        </div>
                        <div class="content__forecast-item content__forecast-item__outside">
                            <span class="content__forecast-where">За окном</span>
                            <span class="content__forecast-degrees">+19
                            <svg class="icon content__forecast-icon">
                                <use xlink:href='#cloud'/>
                            </svg>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="scrollable scrollable_vertical">
                    <div class="scrollable__wrap-scroll scrollable__wrap-scroll_vertical">
                        <div class="scrollable__arrows scrollable__arrows_visible main__scrollable__arrows">
                            <svg class="scrollable__arrow scrollable__arrow_top scrollable__arrow_top_margin-bottom">
                                <use xlink:href='#arrow'/>
                            </svg>
                            <svg class="scrollable__arrow scrollable__arrow_top">
                                <use xlink:href='#arrow'/>
                            </svg>
                        </div>

                        <div class="scrollable-block__content scrollable-block__content_vertical">
                            <div class="task task_first task_vertical">
                                <svg class="task__icon">
                                    <use xlink:href='#temp'/>
                                </svg>
                                <div class="task__text">
                                    <span class="task__title">Philips Cooler</span>
                                    <span class="task__info">Начнет охлаждать в 16:30</span>
                                </div>
                            </div>
                            <div class="task task_vertical">
                                <svg class="task__icon">
                                    <use xlink:href='#sun'/>
                                </svg>
                                <div class="task__text">
                                    <span class="task__title">Xiaomi Yeelight LED Smart Bulb</span>
                                    <span class="task__info">Включится в 17:00</span>
                                </div>
                            </div>
                            <div class=" task task_vertical">
                                <svg class="task__icon">
                                    <use xlink:href='#temp'/>
                                </svg>
                                <div class="task__text">
                                    <span class="task__title">Philips Cooler</span>
                                    <span class="task__info">Начнет охлаждать в 16:30</span>
                                </div>
                            </div>
                            <div class=" task task_vertical">
                                <svg class="task__icon">
                                    <use xlink:href='#sun'/>
                                </svg>
                                <div class="task__text">
                                    <span class="task__title">Xiaomi Yeelight LED Smart Bulb</span>
                                    <span class="task__info">Включится в 17:00</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>