<article class="scenarios page__scenarios">
    <div class="scenarios__inner">
        <h2 class="scenarios__title">Избранные сценарии</h2>
        <div class="scrollable scrollable_3-columns">
            <div class="scrollable__arrows scenarios__scrollable__arrows">
                <button type="button" class="scrollable__arrow-button">
                    <svg class="scrollable__arrow scrollable__arrow_top">
                        <use xlink:href='#arrow'/>
                    </svg>
                </button>
                <button type="button" class="scrollable__arrow-button">
                    <svg class="scrollable__arrow scrollable__arrow_active scrollable__arrow_bottom">
                        <use xlink:href='#arrow'/>
                    </svg>
                </button>
            </div>
            <div class="scrollable__wrap-scroll scrollable__wrap-scroll_vertical">
                <div class="scrollable-block__content scrollable-block__content_3-columns">
                    <div class="task task_first task_first_3-columns task_small">
                        <svg class="task__icon">
                            <use xlink:href='#sunshine'/>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Выключить весь свет в доме и во дворе</span>
                        </div>
                    </div>
                    <div class="task task_small">
                        <svg class="task__icon">
                            <use xlink:href='#schedule'/>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Я ухожу</span>
                        </div>
                    </div>
                    <div class="task task_small">
                        <svg class="task__icon">
                            <use xlink:href='#sun'/>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Включить свет в коридоре</span>
                        </div>
                    </div>
                    <div class="task task_small">
                        <svg class="task__icon">
                            <use xlink:href='#temp-color'/>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Набрать горячую ванну</span>
                            <span class="task__info">Начнется в 18:00</span>
                        </div>
                    </div>
                    <div class="task task_small">
                        <svg class="task__icon">
                            <use xlink:href='#temp-color'/>
                        </svg>
                        <div class="task__text">
                            <span class="task__title">Сделать пол тёплым во всей квартире</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</article>