@import 'shared/mixin';

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  @include respond-to(big-landscape) {
    display: grid;
    grid-template-areas: 'h h' 'c a' 's s' 'f f';
    grid-template-columns: 50% 50%;
    grid-template-rows: 12.2vh 53vh 1fr 6.5vh;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}

.page__header {
  @include respond-to(big-landscape) {
    grid-area: h;
  }
}

.page__main {
  @include respond-to(big-landscape) {
    grid-area: c;
  }
}

.page__scenarios {
  @include respond-to(big-landscape) {
    grid-area: a;
  }
}

.page__devices{
  @include respond-to(big-landscape) {
    grid-area: s;
    overflow: hidden;
  }
}

.page__footer {
  @include respond-to(big-landscape) {
    grid-area: f;
  }
}
