@import '../../shared/variables';
@import '../../shared/mixin';

.devices{
}

.page__devices{
  @include respond-to(small-portrait) {
    margin-bottom: 3vw;
  }

  @include respond-to(small-landscape) {
    margin-bottom: 3vw;
  }

  @include respond-to(big-portrait) {
    margin-bottom: 3vh;
  }
}

.devices__inner{
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: flex-start;
  position: relative;
}

.devices__title{
  @include respond-to(small-portrait) {
    font-size: 4.8vw;
    margin: 0 0 4vw 5vw;
    padding: 0;
  }

  @include respond-to(small-landscape) {
    font-size: 2.4vw;
    margin: 0 0 3.5vw 6vw;
    padding: 0;

  }

  @include respond-to(big-portrait) {
    font-size: 3vw;
    margin: 0 0 1.5vw 6vw;
    padding: 0;

  }

  @include respond-to(big-landscape) {
    font-size: 1.23vw;
    margin: 2.15vw 0 1.5vw 6vw;
    padding: 0;

  }
}



